<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Team Project</title>
		<!-- We are conditionally including test support if the showTests
         variables has been set. -->
		{{#if showTests}}
			<link rel="stylesheet" href="/vendor/mocha.css">
		{{/if}}

		<!-- We add the jQuery library because we will be using it
		     to manipulate HTML in the browser. -->
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<style>
			html{
				background-color:#C2FFE0;
			}
			.title1{
				  color: #007D19;
				  font-family: 'trebuchet ms';
				  font-weight: bold;
				  font-size: 30px;
			}
			a{
				  text-decoration: inherit;
				  font-family: inherit;
				  font-weight: inherit;
				  font-size: inherit;
				  color: inherit;
			}
			.text{
				  color: #193E19;
				  font-family: 'trebuchet ms';
			}
		</style>
	</head>
	<body>
		{{{body}}}

		{{#if showTests}}
			<div id="mocha"></div>
			<script src="/vendor/mocha.js"></script>
			<script src="/vendor/chai.js"></script>
			<script>
				mocha.ui('tdd');
				var assert = chai.assert;
			</script>

			<script src="/qa/tests-global.js"></script>
			{{#if pageTestScript}}
				<script src="{{pageTestScript}}"></script>
			{{/if}}
			<script>mocha.run();</script>
		{{/if}}
	</body>
</html>