<div style="margin:20px 0 0 0;width:100%;display:in-line;color:#e5ffe5;">
	<span style="float:left;width:30%;min-width:270px;">
		<div class="formbox" style="max-width:300px;">
			<p class="sh1" style="font-size:14px;text-align:center;color:#112211;margin:auto;">
				<a href="" onclick="alert('Liked!');">
					<span style="font-size:24px;">
						Like
					</span>
				</a>
				  |  
				<a href="" onclick="alert('Flagged!');">
					Flag as Innappropriate
				</a>
			</p>
		</div>
	</span>
	<span style="float:left;width:40%;">
		<p class="sh1" style="text-align:center;margin:auto;font-size:28px;">
			Title of "Branch"
		</p>
	</span>
	<span style="float:left;width:30%;">
		<p class="sh1" style="text-align:right;margin:0 20px 0 0;font-size:14px;">
			By [<a href="" onclick="alert('Username page');">{{{username}}}</a>]
		</p>
	</span>
	<div>{{message}}</div><br>
</div>

<div style="clear: both; display: in-line; width:100%;">
	<p class="sh1" style="text-align:center;margin:auto;font-size:16px;color:gray;margin:70px 0 0 0;font-weight:normal;c">
		Current Image Details: Month Day, Year (HH:MM)
	</p>
</div>

<div style="clear: both; display: in-line; width:100%;margin:20px 0 0 0;">
	<span style="float:left;width:20%;">
		<div class="sbox" style="height:400px;">
			Previous Image
		</div>
	</span>
	<span style="float:left;width:60%;">
		<div class="sbox" style="height:400px;">
			Current Image
		</div>
	</span>
	<span style="float:left;width:20%;">
		<div class="sbox" style="height:400px;">
			Next Image
		</div>
	</span>
</div>

<div style="clear: both; float:left; width:100%; margin: 10px 0 0 0;text-align:center;">
	<span style="float:left;width:20%;">
		&nbsp
	</span>
	<span style="float:right;width:20%;">
		<div class="sbox" style="height:30px;border: 1px solid black;">
			<p style="text-align:center;font-weight:bold;">42 Comments</p>
		</div>
	</span>
	<span style="width:60%;text-align:center;display:inline-block;margin:0 auto;">
		<p class="sh1" style="font-size:16px;color:gray;font-weight:normal;">
			Current Image Caption: "Look at me, I'm a caption!"
		</p>
	</span>
</div>

<div style="clear: both; float:left; width:100%; margin: 10px 0 0 0;text-align:center;">
	<span style="float:left;width:20%;">
		<p class="sh1" style="font-size:16px;margin:6px;">
			"Leaf" Scroll-through
		</p>
	</span>
	<span style="float:right;width:25%;">
		<button class="sbtn" style="font-size:16px;">
			Jump to Latest
		</button>
	</span>
	<span style="width:50%;display:inline-block;margin:6px auto;">
		<input type="range" id="leafrange" value="100">
	</span>
</div>

<div style="clear: both; float:left; width:100%; margin: 10px 0 0 0;text-align:center;">
	<span style="float:left;margin: 6px 10px;">
		<p class="sh1" style="font-size:18px;font-weight:normal;text-align:left;">
			Add to Feed
		</p>
	</span>
	<span style="float:left;">
		<select class="form-control">
			<option value="volvo">(Choose List)</option>
			<option value="saab">Feed A</option>
			<option value="mercedes">Feed B</option>
			<option value="audi">Feed C</option>
		</select>
	</span>
	<span style="margin:0 auto;">
		<button class="sbtn" style="font-size:16px;max-width:25%;">
			View Time Lapse Animation
		</button>
	</span>
</div>