<div style="width:100vw;margin:20px 0 0 0;">
	<p class="sh1" style="width:20%;float:left;text-align:center;font-size:28px;">
		News Feed
	</p>
	
	<div class="formbox" style="width:60%;float:left;max-width:550px;min-width:500px;">
		<p class="sh1" style="font-size:18px;text-align:center;color:#112211;margin:auto;">
			<span>Sort By:</span>
			<a href="" onclick="alert('Sorted');">
				Subscriptions
			</a>
			  |  
			<a href="" onclick="alert('Sorted');">
				Most Recent			
			</a>
			  |
			<a href="" onclick="alert('Sorted');">
				Popular		
			</a>
		</p>
	</div>
	
	<div style="width:20%;float:left">
		<button class="sbtn" style="max-width=100px">
			Random Branch
		</button>
	<div>
</div>