<img src="/img/logo.png" alt="Spruce Logo" style="position:absolute;right:8px;top:30px;z-index:-1;"/>
<p class="title1">SPRUCE.CC</p>
<table width="70%" style="float:;"><tr class="title1" style="font-size:18px;"><td><a href="http://localhost:3000/about">ABOUT</a></td></tr>
<tr class="title1" style="font-size:18px;"><td><a href="http://localhost:3000/team">THE TEAM</a></td></tr>
<tr class="text"><td>- <a href="http://localhost:3000/team?user=gprengub">Garret Prenguber</a></td>
<tr class="text"><td>- <a href="http://localhost:3000/team?user=zjberman">Zachary Berman</a></td>
<tr class="text"><td>- <a href="http://localhost:3000/team?user=cmbro2">Christian Brown</a></td>
<tr class="text"><td>- <a href="http://localhost:3000/team?user=pdhulipa">Prasanth Dhulipalla</a></td>
<tr class="text"><td>- <a href="http://localhost:3000/team?user=espinosa">Joshua Espinosa</a></td>
<tr class="text"><td>- <a href="http://localhost:3000/team?user=rjphelan">Richard Phelan</a></td></table>