<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="spruce.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div style="background-color:#e5ffe5;">
	<div width="100%">
		<span style="float:left;width:20%">
			<p style="margin:auto;text-align:center;" class="sh1">Spruce</p>
		</span>
		<span style="float:left;width:10%">
			<div class="sbox">&nbsp</div>
		</span>
		<span style="float:left;width:10%">
			<div class="sbox">&nbsp</div>
		</span>
		<span style="float:left;width:10%">
			<div class="sbox">&nbsp</div>
		</span>
		<span style="float:left;width:10%">
			<div class="sbox">&nbsp</div>
		</span>
		<span style="float:left;width:10%">
			<div class="sbox">&nbsp</div>
		</span>
		<span style="float:left;width:30%">
			<button class="sbtn">Login</button>
		</span>
	</div>
	<div style="clear: both; float: left; display: block; position: relative; margin: 5px;">
	</div>
	<div class="roundbox" style="clear:both;height:60px;"></div>
</div>
</html>